

<fieldset>
	<legend>{{ isRegisterForm() ? 'Regisztráció' : 'Hitelesítés' }}</legend>

	<div 
		#formContainer
		[@paneChange]="{ 
			value: isRegisterForm(),
			params: { startHeight: formContainer.clientHeight}
		}">

		@if (isRegisterForm()) {
			
			<form [formGroup]="registerForm" (ngSubmit)="register()">
				<div class="form-group">
					<input type="text" placeholder="" formControlName="name">
					<label>Felhasználónév</label>
				</div>

				<div class="form-group">
					<input type="email" placeholder="" formControlName="email">
					<label>Email cím</label>
				</div>

				<div class="form-group icon-input">
					<input [type]="inputType()" placeholder="" formControlName="password">
					<label>Jelszó</label>
					@if (!passwordVisible()) {
						<button (click)="revealPassword()" type="button">
							<i class="material-icons icon">visibility_off</i>
							<span class="visually-hidden">Jelszó felfedése</span>
						</button>              
					} @else {
						<button (click)="revealPassword()" type="button">
							<i class="material-icons icon">visibility</i>
							<span class="visually-hidden">Jelszó elrejtése</span>
						</button>
					}
				</div>

				<button class="cta" type="submit">Register</button>
			</form>
			
		} @else {

			<form [formGroup]="verificationForm" (ngSubmit)="verify()">
				<p>Enter the 6-digit code we've sent to your <a href="https://{{ userEmail() }}" target="_blank" rel="noopener noreferrer">mail</a></p>
				<div class="otp-inputs">
					<input 
						type="text" 
						formControlName="digit1" 
						maxlength="1"
						(input)="onInput($event, 1)"
						(keydown)="onOtpKeydown($event, 1)"
						#input1>
					<input 
						type="text" 
						formControlName="digit2" 
						maxlength="1"
						(input)="onInput($event, 2)"
						(keydown)="onOtpKeydown($event, 2)"
						#input2>
					<input 
						type="text" 
						formControlName="digit3" 
						maxlength="1"
						(input)="onInput($event, 3)"
						(keydown)="onOtpKeydown($event, 3)"
						#input3>
					<input 
						type="text" 
						formControlName="digit4" 
						maxlength="1"
						(input)="onInput($event, 4)"
						(keydown)="onOtpKeydown($event, 4)"
						#input4>
					<input 
						type="text" 
						formControlName="digit5" 
						maxlength="1"
						(input)="onInput($event, 5)"
						(keydown)="onOtpKeydown($event, 5)"
						#input5>
					<input 
						type="text" 
						formControlName="digit6" 
						maxlength="1"
						(input)="onInput($event, 6)"
						(keydown)="onOtpKeydown($event, 6)"
						#input6>
				</div>

				<button class="cta" type="submit">Verify</button>
			</form>
			
		}
	</div>

</fieldset>