<section>
	@for (recipe of recipes(); track $index) {
		<div class="recipe-card" [routerLink]="[ '/recipe', recipe.id ]">
			<h3>{{ recipe.name }}</h3>
			<img [src]="recipe.image" [alt]="recipe.name" />
			<div class="chips">
				@for (tag of recipe.categories; track $index) {
					<li><a href="#">{{ tag }}</a></li>
				}
				<li><a href="#">Csokoládé</a></li>
				<li><a href="#">Őszi</a></li>
			</div>
			<div class="recipe-info">
				<span>30 perc</span>
				<span>{{ recipe.servings }} adag</span>
				<span>Könnyű</span>
				<span class="material-icons fav-icon">favorite</span>
			</div>
		</div>
	} @empty {
		<div class="error">
			<span class="material-icons">error</span>
			<span>No recipes found</span>
		</div>
	}
</section>