<form [formGroup]="recipeEditForm">
	<header>
		<div class="image-upload">
			<label for="profile-image">
				@if (recipeImgSrc()) {
					<img [src]="recipeImgSrc()" alt="">
				} @else {
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
							d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z" />
					</svg>
					<p>Válassz profilképet (max 5Mb)</p>
				}
			</label>
			<input id="profile-image" type="file" accept="image/*" formControlName="image"
				(change)="onRecipeImgChange($event)">
		</div>

		<div class="recipe-info">
			<textarea formControlName="name" id="name" rows="2" placeholder="Valami frappáns sütinév" autocomplete="off"></textarea>
			<div class="details">
				<div class="suffix-group">
					<!-- Forces number pad on mobile -->
					<input formControlName="timeToMake" id="timeToMake" inputmode="numeric" pattern="[0-9]*" autocomplete="off" />
					<span>perc</span>
				</div>
				<div class="suffix-group">
					<input formControlName="servings" id="servings" inputmode="numeric" pattern="[0-9]*" autocomplete="off" />
					<span>adag</span>
				</div>
				<div class="row">
					<p>Nehézség:</p>
					<div class="radio-group">
						<input type="radio" id="easy" name="selector">
						<label for="easy">Könnyű</label>
						<input type="radio" id="medium" name="selector">
						<label for="medium">Közepes</label>
						<input type="radio" id="hard" name="selector">
						<label for="hard">Nehéz</label>
					</div>
				</div>
			</div>

			<div class="categories" formArrayName="categories">
				@for (category of categories.controls; track category; let categoryIndex = $index) {
					<div class="icon-input">
						<input [formControlName]="categoryIndex" id="categoryIndex-{{categoryIndex}}" type="text" placeholder="kategória">
						<button class="error" type="button" title="Kategória eltávolítása" (click)="removeCategory(categoryIndex)">
							<i class="material-icons icon">close</i>
						</button>
					</div>
				}

				<button class="success" type="button" title="Kategória hozzáadása" (click)="addCategory()">
					<i class="material-icons icon">add</i>
				</button>
			</div>
		</div>
	</header>

	<div class="recipe-body">
		<section class="process">
			<section class="author-notes">
				<h3>Cukrászunk megjegyzése</h3>
				<textarea formControlName="authorNotes" id="authorNotes" rows="4" placeholder="Írd ide a megjegyzéseidet..." autocomplete="off"></textarea>
			</section>

			<div class="ingredients" formArrayName="ingredients">
				<h3>Hozzávalók</h3>

				@for (elem of ingredients.controls; track elem; let ingredientIndex = $index) {
					<div [formGroupName]="ingredientIndex">
						<!-- <div class="icon-input">
							<input id="ingredient-{{ingredientIndex}}-title" type="text" formControlName="title" autocomplete="off">
							<button class="error" type="button" title="Lista eltávolítása" (click)="removeIngredient(ingredientIndex)">
								<i class="material-icons icon">close</i>
							</button>
						</div> -->
						<div class="icon-input">
							<input id="ingredient-{{ingredientIndex}}-title" type="text" formControlName="title" autocomplete="off">
							<button type="button" title="Lista eltávolítása" (click)="removeIngredient(ingredientIndex)">
								<i class="material-icons icon">close</i>
							</button>
						</div>

						<ul formArrayName="ingredientList">
							@for (ingredient of getIngredientListAt(ingredientIndex).controls; track ingredient; let j = $index) {
								<li>
									<div class="icon-input">
										<input id="ingredient-{{ingredientIndex}}-item-{{j}}" type="text" [formControlName]="j" autocomplete="off">
										<button class="error" type="button" title="Listaelem eltávolítása" (click)="removeIngredientItem(ingredientIndex, j)">
											<i class="material-icons icon">close</i>
										</button>
									</div>
								</li>
							}
							<button class="success" type="button" title="Listaelem hozzáadása" (click)="addIngredientItem(ingredientIndex)">
								<i class="material-icons icon">add</i>
							</button>
						</ul>
					</div>
				}

				<button class="success" type="button" title="Lista hozzáadása" (click)="addIngredient()">
					<i class="material-icons icon">add</i>
				</button>
			</div>

			<div class="instructions">
				<h3>Elkészítés</h3>

				<ol formArrayName="instructions">
					@for (instruction of instructions.controls; track instruction; let instructionIndex = $index) {
						<li [formGroupName]="instructionIndex">
							<div class="instruction-row">
								<textarea id="instruction-text-{{instructionIndex}}" formControlName="text" cols="30" rows="3" placeholder="Recept leírás" autocomplete="off"></textarea>
								<button class="error" type="button" title="Leírás eltávolítása" (click)="removeInstruction(instructionIndex)">
									<i class="material-icons icon">close</i>
								</button>
							</div>

							<div class="image-gallery" formArrayName="images">
								@for (image of getImagesAt(instructionIndex).controls; track image; let imageIndex = $index) {
									<div class="image-upload-container">
										<div class="image-upload">
											<label for="{{ instructionIndex + '-' + imageIndex}}">
												@if (instructionImgSrc.get(instructionIndex + '-' + imageIndex)) {
													<img [src]="instructionImgSrc.get(instructionIndex + '-' + imageIndex)" alt="">
												} @else {
													<div class="label-content">
														<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
															stroke="currentColor">
															<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
																d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z" />
														</svg>
														<p>Drag your image here or click in this area</p>
													</div>
												}
											</label>
											<input id="{{ instructionIndex + '-' + imageIndex}}" type="file"
												[formControlName]="imageIndex"
												(change)="onInstructionImageSelected($event, instructionIndex, imageIndex)"
												accept="image/*">
										</div>

										<button class="error" type="button" title="Kép eltávolítása" (click)="removeImageInput(instructionIndex, imageIndex)">
											<i class="material-icons icon">close</i>
										</button>
									</div>
								}
								<button class="success" type="button" title="Kép hozzáadása" (click)="addImageInput(instructionIndex)">
									<i class="material-icons icon">add</i>
								</button>
							</div>
						</li>
					}
					<button class="success" type="button" title="Leírás hozzáadása" (click)="addInstruction()">
						<i class="material-icons icon">add</i>
					</button>
				</ol>
			</div>
		</section>
	</div>
</form>