<fieldset>
	<legend>Bejelentkezés</legend>
	<form [formGroup]="loginForm" (ngSubmit)="login()">

		<div class="form-group">
			<input id="email" type="text" placeholder="" formControlName="email">
			<label for="email">Email vagy felhasználónév</label>
		</div>
		@if (email.invalid && email.touched) {
			@if (email.errors?.['required']) {
				<app-alert message="Az email címet meg kell adni!" />
			}
		}

		<div class="form-group icon-input">
			<input id="password" [type]="inputType()" placeholder="" formControlName="password">
			<label for="password">Jelszó</label>
			<button (click)="revealPassword()" type="button">
				<i class="material-icons icon">{{ passwordVisible() ? 'visibility' : 'visibility_off' }}</i>
			</button>
		</div>
		@if (password.invalid && password.touched) {
			@if (password.errors?.['required']) {
				<app-alert message="Jelszót kötelező megadni!" />
			}
		}

		<div class="row">
			<div class="switch-container">
				<input type="checkbox" class="toggle-switch" id="keep-logged-in">
				<label for="keep-logged-in">Emlékezz rám</label>
			</div>

			<a routerLink="/forgot-password">Elfelejtett jelszó?</a>
		</div>

		<button [disabled]="loginForm.invalid" class="cta" type="submit">Belépés</button>
		@if (errorMessage()) {
			<app-alert message="{{ errorMessage() }}" />
		}
	</form>
</fieldset>
<p>Még nincs fiókod? <a routerLink="/register">Regisztrálj</a></p>